<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
    <link rel="manifest" href="/icon/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.js"></script>
    <style>
        body {
            background: url('../images/register-bg.jpg') center/cover no-repeat;
            font-family: sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #2b3e51;
        }

        h2 {
            font-weight: 300;
            text-align: center;
        }

        p {
            position: relative;
        }

        #fname {
            width: 50%;
            margin-right: 20px;
        }

        #lname {
            width: 50%;
        }

        .names {
            width: 100%;
            display: flex;
        }

        a,
        a:link,
        a:visited,
        a:active {
            color: #3ca9e2;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }

        a:focus,
        a:hover,
        a:link:focus,
        a:link:hover,
        a:visited:focus,
        a:visited:hover,
        a:active:focus,
        a:active:hover {
            color: #329dd5;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }

        #login-form-wrap {
            background-color: #fff;
            width: 45%;
            margin: 30px auto;
            text-align: center;
            padding: 20px 0 0 0;
            border-radius: 4px;
            box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
        }

        #login-form {
            padding: 0 60px;
        }

        input {
            display: block;
            width: 100%;
            outline: none;
            height: 50px;
            line-height: 1.6;
            border-radius: 4px;
        }

        input[type="text"],
        input[type="password"],
        input[type="email"],
        input[type="date"] {
            width: 100%;
            padding: 0 0 0 10px;
            margin: 0;
            color: #8a8b8e;
            border: 1px solid #c2c0ca;
            font-style: normal;
            font-size: 16px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            position: relative;
            display: inline-block;
            background: none;
        }

        select {
            margin-bottom: 15px;
        }

        option {
            color: #8a8b8e;
        }

        input[type="text"]:focus,
        input[type="password"]:focus,
        input[type="email"]:focus,
        input[type="email"]:focus {
            border-color: #3ca9e2;
        }

        input[type="text"]:focus:invalid,
        input[type="password"]:focus:invalid,
        input[type="email"]:focus:invalid,
        input[type="date"]:focus:invalid {
            color: #cc1e2b;
            border-color: #cc1e2b;
        }

        input[type="text"]:valid~.validation,
        input[type="password"]:valid~.validation,
        input[type="email"]:valid~.validation,
        input[type="date"]:valid~.validation {
            display: block;
            border-color: #0C0;
        }

        input[type="text"]:valid~.validation span,
        input[type="password"]:valid~.validation span,
        input[type="email"]:valid~.validation span,
        input[type="date"]:valid~.validation span {
            background: #0C0;
            position: absolute;
            border-radius: 6px;
        }

        input[type="text"]:valid~.validation span:first-child,
        input[type="password"]:valid~.validation span:first-child,
        input[type="email"]:valid~.validation span:first-child,
        input[type="date"]:valid~.validation span:first-child {
            top: 30px;
            left: 14px;
            width: 20px;
            height: 3px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        input[type="text"]:valid~.validation span:last-child,
        input[type="password"]:valid~.validation span:last-child,
        input[type="password"]:valid~.validation span:last-child,
        input[type="date"]:valid~.validation span:last-child {
            top: 35px;
            left: 8px;
            width: 11px;
            height: 3px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .validation {
            display: none;
            position: absolute;
            content: " ";
            height: 60px;
            width: 30px;
            right: 15px;
            top: 0px;
        }

        input[type="submit"] {
            border: none;
            display: block;
            background-color: #3ca9e2;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
            font-size: 18px;
            position: relative;
            display: inline-block;
            cursor: pointer;
            text-align: center;
        }

        input[type="submit"]:hover {
            background-color: #329dd5;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }

        #create-account-wrap {
            background-color: #eeedf1;
            color: #8a8b8e;
            font-size: 14px;
            width: 100%;
            padding: 10px 0;
            border-radius: 0 0 4px 4px;
        }

        .success {
            opacity: 1;
            transition: opacity 0.45s;
            background-color: rgba(167, 250, 0, 0.746);
            margin-top: 30px;
            font-size: 17px;
            width: 40%;
            text-align: center;
            padding: 20px;
            box-sizing: border-box;
            color: white;
        }

        .alert {
            opacity: 1;
            transition: opacity 0.45s;
            font-size: 17px;
            margin-top: 30px;
            text-align: center;
            width: 40%;
            padding: 20px;
            box-sizing: border-box;
            background-color: #f3392cc7;
            color: white;
        }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        .closebtn:hover {
            color: black;
        }

        ::selection {
            background: rgb(0, 123, 255, 0.3);
        }

        .content {
            max-width: 1250px;
            margin: auto;
            padding: 0 30px;
        }

        .navbar {
            display: block;
            position: static;
            background-color: #222;
            width: 100%;
            z-index: 2;
            padding: 15px 0;
            margin-bottom: 35px;
            transition: all 0.3s ease;
        }

        .navbar.sticky {
            background: #1b1b1b;
            padding: 10px 0;
            box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
        }

        .navbar .content {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .navbar .logo a {
            color: #fff;
            font-size: 30px;
            font-weight: 600;
            text-decoration: none;
        }

        .navbar .menu-list {
            margin-top: 1rem;
            display: inline-flex;
        }

        .menu-list li {
            list-style: none;
        }

        .menu-list li a {
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            margin-left: 25px;
            text-decoration: none;
            transition: all 0.3s ease;
        }

        .menu-list li a:hover {
            color: #007bff;
        }

        .ceg {
            color: rgb(255, 255, 136);
            border-radius: 5px;
            padding: 0 5px;
        }

        .camera {
            line-height: normal;
            font-size: 32px;
            margin-right: 5px;
        }

        .camerf {
            font-size: 55px;
        }

        .logo {
            display: flex;
            flex-direction: row;
            color: #fff;
        }

        .about {
            padding: 30px 0;
        }

        .about .title {
            font-size: 38px;
            font-weight: 700;
        }

        .about p {
            padding-top: 20px;
            text-align: justify;
        }

        .icon {
            color: #fff;
            font-size: 20px;
            cursor: pointer;
            display: none;
        }

        .menu-list .cancel-btn {
            position: absolute;
            right: 30px;
            top: 20px;
        }

        .features {
            margin-top: 25px;
        }

        .feature {
            border-left: 1px solid rgb(128, 128, 128, 0.75);
            border-right: 1px solid rgb(128, 128, 128, 0.75);
            display: flex;
            box-shadow: 5px 10px 18px #9c9c9c;
            max-width: 450px;
            padding: 0 20px;
            box-sizing: border-box;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .ficon-container {
            margin: 20px 0;
        }

        .features-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .ficon {
            display: block;
            font-size: 55px;

        }

        .feature-para {
            font-size: 20px;
            line-height: 1.6;
            font-family: 'Titillium Web', sans-serif;
            font-weight: bold;
            letter-spacing: 2px;
        }

        .fbtn {
            margin: 20px 0;
            height: 45px;
            width: 125px;
            background-color: #131518;
            outline: none;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            color: rgb(255, 255, 255);
        }

        .fbtn:hover {
            background-color: #060607;
            cursor: pointer;
        }

        .footer {
            font-size: 20px;
            width: 100%;
            background-color: #222;
            color: white;
            margin-top: 30px;
            display: flex;
            box-sizing: border-box;
            flex-direction: row;
            justify-content: space-between;
            padding: 20px 20px 5px 20px;
        }

        .logof {
            font-weight: bold;
            font-size: 45px;
            margin-bottom: 40px;
        }

        .left-footer {
            width: 65%;
        }

        .right-footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 35%;
            border-left: 2px solid white;
        }

        .social {
            margin-top: 12px;
        }

        .social a {
            color: white;
            text-decoration: none;
        }

        .social a:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        .aboutf {
            margin-top: 10px;
            text-transform: uppercase;
            font-weight: bold;
        }

        .summary {
            margin-top: 10px;
            line-height: 1.6;
            letter-spacing: 1px;
        }

        .creators {
            margin-top: 10px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .creators-name {
            margin-top: 8px;
        }

        .creators-name li {
            margin-top: 5px;
        }

        .creators-name li a {
            color: white;
            text-decoration: none;
        }

        .creators-name li a:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        @media (max-width: 1230px) {
            .content {
                padding: 0 60px;
            }
        }

        @media (max-width: 1100px) {
            .content {
                padding: 0 40px;
            }
        }

        @media (max-width: 900px) {
            .content {
                padding: 0 30px;
            }
        }

        @media (max-width: 868px) {
            body.disabled {
                overflow: hidden;
            }

            .icon {
                display: block;
            }

            .icon.hide {
                display: none;
            }

            .navbar .menu-list {
                position: fixed;
                height: 100vh;
                width: 100%;
                max-width: 400px;
                left: -100%;
                top: 0px;
                display: block;
                padding: 40px 0;
                text-align: center;
                background: #222;
                transition: all 0.3s ease;
            }

            .navbar.show .menu-list {
                left: 0%;
            }

            .navbar .menu-list li {
                margin-top: 45px;
            }

            .navbar .menu-list li a {
                font-size: 23px;
                margin-left: -100%;
                transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }

            .navbar.show .menu-list li a {
                margin-left: 0px;
            }
        }

        @media (max-width: 380px) {
            .navbar .logo a {
                font-size: 27px;
            }
        }
    </style>
</head>

<body>
    <nav class="navbar">
        <div class="content">
            <div class="logo">
                <i class="fa-solid fa-camera camera"></i>
                <a href="/about"><span class="ceg">CEG</span> Confum</a>
            </div>
            <ul class="menu-list">
                <div class="icon cancel-btn">
                    <i class="fas fa-times"></i>
                </div>
                <li><a href="/home">Home</a></li>
                <li><a href="/confession">Confession</a></li>
                <li><a href="/memory">Memory</a></li>
                <% if(!currentUser){ %>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <% } else{ %>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Log Out</a></li>
                <% } %>
            </ul>
            <div class="icon menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>

    <% if(success && success.length){ %>
    <div class="success">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= success %>
    </div>
    <% } %>

    <% if(error && error.length){ %>
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= error %>
    </div>
    <% } %>

    <div id="login-form-wrap">
        <h2>Create an Account</h2>
        <form action="/profile?_method=PUT" method="POST" id="login-form">
            <div class="names">
                <p id="fname">
                    <input type="text" value="<%= user.firstname %>" name="firstname" placeholder="First Name"
                        required><i class="validation"><span></span><span></span></i>
                </p>
                <p id="lname">
                    <input type="text" value="<%= user.lastname %>" name="lastname" placeholder="Last Name" required><i
                        class="validation"><span></span><span></span></i>
                </p>
            </div>
            <p>
                <input type="text" value="<%= user.username %>" id="username" name="username" placeholder="Username"
                    required><i class="validation"><span></span><span></span></i>
            </p>
            <p>
                <input type="date" value="<%= user.dob %>" id="date" name="dob" placeholder="Date Of Birth"
                    required><i><span></span><span></span></i>
            </p>
            <p>
                <input type="email" value="<%= user.email %>" id="email" name="email" placeholder="Email Address"
                    required><i class="validation"><span></span><span></span></i>
            </p>
            <select class="form-select" name="tag">
                <option>Select Your Tag</option>
                <option value="Orange" <%= user.tag === 'Orange' ? 'selected' : '' %>>Orange</option>
                <option value="Grey" <%= user.tag === 'Grey' ? 'selected' : '' %>>Grey</option>
                <option value="Red" <%= user.tag === 'Red' ? 'selected' : '' %>>Red</option>
                <option value="Brown" <%= user.tag === 'Brown' ? 'selected' : '' %>>Brown</option>
                <option value="Purple" <%= user.tag === 'Purple' ? 'selected' : '' %>>Purple</option>
                <option value="Green" <%= user.tag === 'Green' ? 'selected' : '' %>>Green</option>
            </select>
            <select class="form-select" name="dept">
                <option selected>Select Your Department</option>
                <option value="Computer Science and Engineering" 
                <%= user.dept === 'Computer Science and Engineering' ? 'selected' : '' %>>Computer Science and Engineering</option>
                <option value="Information Technology" 
                <%= user.dept === 'Information Technology' ? 'selected' : '' %>>Information Technology</option>
                <option value="Mechanical Engineering" 
                <%= user.dept === 'Mechanical Engineering' ? 'selected' : '' %>>Mechanical Engineering</option>
                <option value="Bio-Medical Engineering" 
                <%= user.dept === 'Bio-Medical Engineering' ? 'selected' : '' %>>Bio-Medical Engineering</option>
                <option value="Electronics and Communication Engineering" 
                <%= user.dept === 'Electronics and Communication Engineering' ? 'selected' : '' %>>Electronics and Communication Engineering</option>
                <option value="Electrical and Electronical Engineering" 
                <%= user.dept === 'Electrical and Electronical Engineering' ? 'selected' : '' %>>Electrical and Electronical Engineering</option>
                <option value="Civil Engineering" 
                <%= user.dept === 'Civil Engineering' ? 'selected' : '' %>>Civil Engineering</option>
                <option value="Printing Technology" 
                <%= user.dept === 'Printing Technology' ? 'selected' : '' %>>Printing Technology</option>
            </select>
            <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1"
                    style="resize: none; margin-bottom: 15px;" name="description" placeholder="Tell us about yourself"
                    rows="3"><%= user.description  %> </textarea>
            </div>
            <p>
                <input type="submit" id="login" value="Update">
            </p>
        </form>
        <div id="create-account-wrap">
            <a href="/profile" style="font-size: 20px;">Back</a>
        </div>
    </div>
    <script>
        const body = document.querySelector("body");
        const navbar = document.querySelector(".navbar");
        const menuBtn = document.querySelector(".menu-btn");
        const cancelBtn = document.querySelector(".cancel-btn");
        menuBtn.onclick = () => {
            navbar.classList.add("show");
            menuBtn.classList.add("hide");
            body.classList.add("disabled");
        }
        cancelBtn.onclick = () => {
            body.classList.remove("disabled");
            navbar.classList.remove("show");
            menuBtn.classList.remove("hide");
        }
        window.onscroll = () => {
            this.scrollY > 20 ? navbar.classList.add("sticky") : navbar.classList.remove("sticky");
        }

        var close = document.getElementsByClassName("closebtn");
        var i;
        for (i = 0; i < close.length; i++) {
            close[i].onclick = function () {
                var div = this.parentElement;
                div.style.opacity = "0";
                setTimeout(function () { div.style.display = "none"; }, 600);
            }
        }
    </script>
</body>

</html>